.button {
    background-color: $blue;
    border: none;
    padding: 15px;
    text-align: center;
    color: $white;
    border-radius: 16px;
    min-width: 120px;
    transition: all 0.2s;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background-color: $buttonHover;
    }

    &:active {
        background-color: $buttonClick;
    }
}

.button--white {
    background-color: $white;
    color: $black;

    &:hover,
    &:active {
        background-color: $white;
    }
}

@media(min-width: $breakpoint) {
    .button {
        min-width: 90px;
    }
}
 