$mont: "Montserrat", "Arial", sans-serif;

$blue: #3922C5;
$black: #0C0C0C;
$gray: #494949;
$lightGray: #D9D9D9;
$lighterGray: #F4F4F4;
$white: #FFFFFF;

$buttonHover: #2C1A9A;
$buttonClick: #1F1368;

$breakpoint: 850px;
$breakpoint-2: 1850px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
